/* ------------------------------
   SECTION INTRO
--------------------------------*/

.intro-expo {
    min-height: 100vh;
    padding: 6rem 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    
    color: white;

    position: relative;
    overflow: hidden;
}

/* lumière décorative */
.intro-expo::before {
    content:"";
    position: absolute;
    width: 600px;
    height: 600px;
    background: radial-gradient(circle, rgba(255,190,11,0.12), transparent 70%);
    top: -150px;
    left: -150px;
    pointer-events: none;
}

/* wrapper */
.intro-expo-wrapper {
    max-width: 100%;

    position: relative;
    z-index: 2;
    border: 2px solid rgba(255,190,11,.35);
    padding: 2rem;
    border-radius: 20px;
    background: rgba(255,255,255,.03);

}

/* ------------------------------
   TEXTE
--------------------------------*/

.intro-texte {
    font-size: clamp(2rem, 4vw, 3.5rem);
   
    text-shadow: 0 2px 12px rgba(0,0,0,.6);
}

.char {
    display: inline-block;
    will-change: transform, opacity;
}

/* petits espaces */
.char-space {
    width: .35em;
}



.intro-bouton {
    position: relative;
    display: inline-block;

    padding: 0.6rem 1.4rem;
    font-weight: bold;

    border-radius: .8rem;
    text-decoration: none;
   

    border: 2px solid rgba(255,190,11,.35);

    

    color: var(--texte-couleur-secondaire);

    overflow: hidden;

    transition: 
        box-shadow 1s ease,
        width .5s ease-out,
        color .3s ease;

    width: 220px;          /* comme les boutons du menu */
    text-align: center;
}

/* fond animé */
.intro-bouton::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 0;
    height: 100%;

    background-color: var(--section-exposition-couleur-fond-secondaire);

    z-index: -1;

    transition: width .5s ease-out;
}

/* hover */
.intro-bouton:hover {

    box-shadow: 0 0 10px 5px #FFABAB;
}

.intro-bouton:hover::after {
    width: 100%;
}

/* clic */
.intro-bouton:active {
    background-color: var(--section-exposition-couleur-fond-secondaire);
}

