/* Conteneur main */
.credits {
  margin: 2rem auto;
}

/* Section contenant le titre de la page et la liste des membres de l'équipe */
.equipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.equipe .liste-equipe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

/* Chaque carte */
.equipe .liste-equipe span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  background-color: aqua;
}