/* Footer */
footer{
    width: 100vw;
    background-color: var(--footer-couleur-fond);
    font-size: 1rem;
    padding: 20px;

}

footer .contenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20rem;
    margin: 0;
}

footer .adresse {
    display: flex;
    flex-direction: column;
}
footer .adresse a {
    padding: 10px 0;
    
}
footer .reseaux {
    text-align: center;
}

footer h4 {
    font-size: larger;
    padding-bottom: 10px;
}
footer ul {
    list-style: none;
}

a {
    padding: 10px;
    text-decoration: none;
    color: aliceblue;
    transition: color ease 0.5s ;
}
a:hover {

    color: var(--bouton-couleur-fond-hover);

}


footer .credits p {
    display: flex;
    justify-content: center;
    padding: 10px;
}

footer .credits {
    border-top: white solid 1px;
}


footer nav{
    font-family: var(--footer-nav-font);
    font-size: 1rem;
    color: var(--texte-couleur-principal);
}

footer .contenu div{
    height: auto;
    margin: 0;
}


/* Responsive (mobile) */
@media screen and (max-width: 768px) {
    footer .contenu {
        gap: 3rem;
    }

    footer {
        font-size: 0.9rem; /* Optionnel : légèrement plus petit sur mobile */
        padding: 1.5rem 1rem;
    }

    footer nav {
        font-size: 0.95rem;
    }
    footer h4 {
        font-size: 0.95rem;
    }
    footer a {
        font-size: 0.75rem;
    }
}