.main-front-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  row-gap: 3rem;
}

.video-front-page {
  background-color: lightgray;
  width: 100%;
}

/* Sections de contenu de la page d'accueil */
.desc-expo, .projet-random, .decks-expo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  row-gap: 2rem;
  margin: 0 auto;
  width: 80vw;
}

/* Section contenant l'explication de l'exposition */
.desc-expo {
  padding-bottom: 90px;
  padding: 90px;
  border-bottom: white solid 0.5px;
  position: relative;
  background-image: url("../images/cartes/AsReel.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* Décorations entre les sections */
.motifs {
  position: absolute;
  bottom: -10px;
  right: 50px;
}

.decks-expo {
  width: 100%;
  padding-bottom: 3rem;
}

/* Styles pour le menu accordéon des différentes expositions sur grands écrans */
.expo-menu {
  display: flex;
  align-items: center;
  width: 100%;
}

/* Style pour la boîte de cartes */
.expo-menu::before {
  content: "";
  position: absolute;
  left: -10px;
  display: block;
  width: 100px;
  height: 260px;
  background-color: #161693;
  border: #f7f7f7 solid 2px;
  z-index: 10;
}

.expo-menu ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.expo-menu li {
  list-style: none;
}

.expo-menu li a {
  display: block;
  border: blue solid 3px;
  background-color: #f7f7f7;
  color: black;
  border-radius: 8px;
  width: 350px;
  height: 250px;
  font-weight: bold;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.expo-menu li a:hover {
 transform: translate(4rem);
 cursor: pointer;
}