body{
    background: linear-gradient(180deg,rgba(101, 126, 212, 1) 6%, rgba(178, 95, 126, 1) 61%, rgba(255, 56, 61, 1) 96%);
}
main.gallerie{
    padding: 0 50px;
    background: none;
}

.gallerie .hero{
    color: var(--texte-couleur-secondaire);
}
.gallerie .hero h2,h3{
    color: var(--texte-couleur-secondaire);
}

/* main.gallerie section#gallerie-cartes{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
} */
main.gallerie section#gallerie-cartes{
    display: grid;
    grid-template-columns: repeat(4, 325px);
    margin-bottom: 70px;
}


/* //////////////////////////////////////////////////// style cartes */

.paquet{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    visibility: hidden;
}


.carte{
    width: 259px;
    height: 388px;
    margin: 20px;
    margin: 37;
    /* transition pour le déplacement */
    transition: transform .7s;
    /* margin: calc((20% - 259px)/2); */
}
/* le container est ce qui tourne */
.carte .container{
    width: 259px;
    height: 388px;

    transform-style: preserve-3d;
    transform: rotate3d(0, 0, 0, 180deg);
    transition: transform .7s;
}
.carte:hover .container{
    /* transform: rotate3d(0, 1, 0, 180deg) translateX(-50px); */
}
.carte.turned .container{
    transform: rotate3d(0, 1, 0, 180deg) translateX(-50px);
}



/* /////////////////////////////////////////////////////// design de la carte */
/* devant et arriere de la carte */
.carte .back,.front{
    width: 100%;
    height: 100%;
    /* border: 6px solid red; */
    border-radius: 20px;

    backface-visibility: hidden;
    position: absolute;
}
.carte .back{
    /* background-color: rgb(138, 28, 21);
    background-image: url("images/cartes/carteDosR.png"); */
    background-repeat: no-repeat;
    background-size: cover;
}
.carte .front{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    font-family: var(--main-paragraphe-font);

    background-color: var(--carte-couleur-fond);

    transform: rotate3d(0, 1, 0, 180deg);
}
.carte .front .premier-etage{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.carte .front .premier-etage p,div{
    margin: 20px 20px 0 20px;
}
.carte .front img{
    width: 233px;
    height: 292px;
    margin: 0 20px;
    border-radius: 10px;
    background-color: #D9D9D9;
}
.front .symbole{
    width: 26px;
    height: 28px;
    background-size: contain;
    background-position: center;


    /* background-color:green; */
}
.front .symbole:nth-of-type(2){
    margin: 0 15px 15px 15px;
    align-self: flex-start;
    transform: rotate(180deg);
}



/* classes nécéssaires pour fonctoinement du code */
.carte.hidden{
    position: absolute;
    opacity: 0;
}
.carte-no-transit{
    transition: none;
}