*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;

}

/* Polices */
:root{
    /* Accueil */
    --titre-accueil-font: "Monoton", sans-serif;

    /* Header */
    --header-nav-font:  "Poppins", sans-serif;
    --header-recherche-font:  "Poppins", sans-serif;

    /* Main */
    --main-sousTitre-font: "Rowdies", sans-serif;
    --main-paragraphe-font:  "Poppins", sans-serif;

    /* Footer */
    --footer-nav-font:"Poppins", sans-serif;

    
    /* Curseur */
    --mouse-x: 0px;
    --mouse-y: 0px;
 

}


/* Couleurs */
:root{
    /* Accueil */
    --titre-accueil-couleur: #ffffff;

    /* Header */
    --header-couleur-fond:#090730;
    --header-nav-couleur-fond :#090730;
    --header-nav-couleur-border:#ffffff;
    --header-recherche-couleur-fond:#FBFBFF;
    --header-recherche-couleur-border:#090730;
    
    /* Main */
    --main-couleur-fond: linear-gradient(to bottom,  #090730 0%,#1c1696 100%);


    /* Footer */
    --footer-couleur-fond: #000F5E;

    /* Boutons */
    --bouton-couleur-fond : #090730;
    --bouton-couleur-fond-active: #3626A7;
    --bouton-couleur-fond-hover: #657ED4;
    --bouton-couleur-font: #FBFBFF;

    /* Textes */
    --texte-couleur-principal:#B6B7C1;
    --texte-couleur-secondaire: #FBFBFF;


    /* Page accueil */
    --section-EXPO-TIM-couleur-fond-principal: #090730;
    --section-EXPO-TIM-couleur-fond-secondaire: #657ED4;
    --section-aleatoire-couleur-fond: #FBFBFF;
    --section-exposition-couleur-fond-principal: #3626A7;
    --section-exposition-couleur-fond-secondaire: #FF331F;

    /* Page projet */
    --section-equipe-couleur-fond: #FBFBFF;
    --section-projet-info-couleur-fond-principal: #3626A7;
    --section-projet-info-couleur-fond-secondaire: #FF331F;
    --section-recommendations-couleur-fond: #FBFBFF;


    /* Page galerie */
    --section-galerie-info-couleur-fond-principal: #3626A7;
    --section-galerie-info-couleur-fond-secondaire: #FF331F;
    --section-galerie-image-couleur-fond: #FBFBFF;


    /* Cartes */
    --carte-couleur-fond:#FBFBFF;
    --carte-couleur-border:linear-gradient(90deg,rgba(101, 126, 212, 1) 0%, rgba(255, 255, 255, 1) 100%);
    --carte-couleur-border-alternatif:linear-gradient(90deg,rgba(255, 51, 31, 1) 0%, rgba(255, 255, 255, 1) 100%);

    /* Curseur */
    --mouse-x: 0px;
    --mouse-y: 0px;

}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

body {
    background: var(--main-couleur-fond);
    color: var(--texte-couleur-principal);
    font-family: var(--main-paragraphe-font);
    min-height: 100vh;
    overflow-x: hidden; /* Empêche le débordement horizontal indésirable */

}

.card {
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  padding: 2rem;
}


/* Curseur personnalisé
============================================================================= */


/* Curseur général de la page */
.curseur {
    position: fixed;
    z-index: 9999999;
    width: 2rem;
    height: 2rem;
    background-color: red;
    border-radius: 50%;
    top: calc(var(--mouse-y) - 1rem);
    left: calc(var(--mouse-x) - 1rem);
    pointer-events: none;
    will-change: top, left;
    transition: width 0.25s, height 0.25s;
}

.curseur::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

/* Curseur inactif lorsqu'on quitte la fenêtre */
.curseur.inactif {
    display: none;
}

/*Lorsque le curseur passe sur un bouton il disparait*/
.curseur.c-bouton {
    background-color: initial;
    
    transform: scale(2);
    
}

.curseur.c-bouton::after {

    display: none;
    
}

/* Boutons */
.boutons{
    background-color:var(--bouton-couleur-fond);
    color: var(--bouton-couleur-font);
   
}

.boutons:hover{
    background-color: var(--bouton-couleur-fond-hover);
}

.boutons:active{
    background-color: var(--bouton-couleur-fond-active);
}

/* Titre accueil */
.titreLogo{
    font-family: var(--titre-accueil-font);
    font-weight: 400;
    font-style: normal;
    font-size: clamp(4rem, 9vw, 10rem);
    color: var(--titre-accueil-couleur);
    text-align: center;
    margin: 0 auto;
    padding: 6rem 0;
    position: relative;
    z-index: 1;
    max-width: 50vw;
}

/* Logo à l'arrière-plan */
.titreLogo::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../images/logos/IconLogo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    z-index: -1;
}

/* État initial */
.fondu-en-bas {
    opacity: 0;
}

/* Animation quand .active est ajoutée */
.fondu-en-bas.active {
    animation: fondu-en-bas 700ms cubic-bezier(.17, .67, .88, 1.46) forwards;
}

/* Header */
header{
    background-color: var(--header-couleur-fond);
}

header nav{
    font-family: var(--header-nav-font);
    font-size: 1rem;
    /* background-color: var(--header-nav-couleur-fond); */
    border-color: var(--header-nav-couleur-border);
    
}


header nav a{
    
    color: var(--texte-couleur-secondaire);
    text-decoration: none;
    
}

@media screen and (max-width: 720px) {
    header nav a{
        color: var(--texte-couleur);
    }
}

.curseur{
    display: none;
}

.recherche{
    font-family: var(--header-recherche-font);
    color: var(--texte-couleur-principal);
    background-color: var(--header-recherche-couleur-fond);
    border-color: var(--header-recherche-couleur-border);
}

/* Main */
main h2{
    font-family: var(--main-sousTitre-font);
    font-size: 2rem;
    color: var(--texte-couleur-principal);
}

main p{
    font-family: var(--main-paragraphe-font);
    font-size: 1rem;
    color: var(--texte-couleur-principal);
}

/* Animations pour le contenu principal des sections.
=============================================== */
@keyframes fondu-en-bas {
	0% {
		translate: 0 10vh;
		opacity: 0;
	}

	100% {
		translate: 0 0vh;
		opacity: 1;
	}
}