/* Polices */
:root{
    /* Accueil */
    --titre-accueil-font: "Monoton", sans-serif;

    /* Header */
    --header-nav-font:  "Poppins", sans-serif;
    --header-recherche-font:  "Poppins", sans-serif;

    /* Main */
    --main-sousTitre-font: "Rowdies", sans-serif;
    --main-paragraphe-font:  "Poppins", sans-serif;

    /* Footer */
    --footer-nav-font:"Poppins", sans-serif;

}


/* Couleurs */
:root{
    /* Accueil */
    --titre-accueil-couleur: #FBFBFF;

    /* Header */
    --header-couleur-fond:#0D0106;
    --header-nav-couleur-fond :#0D0106;
    --header-nav-couleur-border:#FBFBFF;
    --header-recherche-couleur-fond:#FBFBFF;
    --header-recherche-couleur-border:#0D0106;
    
    /* Main */
    --main-couleur-fond:#FBFBFF;

    /* Footer */
    --footer-couleur-fond: #0D0106;

    /* Boutons */
    --bouton-couleur-fond : #0D0106;
    --bouton-couleur-fond-active: #3626A7;
    --bouton-couleur-fond-hover: #657ED4;
    --bouton-couleur-font: #FBFBFF;

    /* Textes */
    --texte-couleur-principal:#0D0106;
    --texte-couleur-secondaire: #FBFBFF;


    /* Page accueil */
    --section-EXPO-TIM-couleur-fond-principal: #3626A7;
    --section-EXPO-TIM-couleur-fond-secondaire: #FF331F;
    --section-aleatoire-couleur-fond: #FBFBFF;
    --section-exposition-couleur-fond-principal: #3626A7;
    --section-exposition-couleur-fond-secondaire: #FF331F;

    /* Page projet */
    --section-equipe-couleur-fond: #FBFBFF;
    --section-projet-info-couleur-fond-principal: #3626A7;
    --section-projet-info-couleur-fond-secondaire: #FF331F;
    --section-recommendations-couleur-fond: #FBFBFF;


    /* Page galerie */
    --section-galerie-info-couleur-fond-principal: #3626A7;
    --section-galerie-info-couleur-fond-secondaire: #FF331F;
    --section-galerie-image-couleur-fond: #FBFBFF;


    /* Cartes */
    --carte-couleur-fond:#FBFBFF;
    --carte-couleur-border:linear-gradient(90deg,rgba(101, 126, 212, 1) 0%, rgba(255, 255, 255, 1) 100%);
    --carte-couleur-border-alternatif:linear-gradient(90deg,rgba(255, 51, 31, 1) 0%, rgba(255, 255, 255, 1) 100%);


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Boutons */
.boutons{
    background-color:var(--bouton-couleur-fond);
    color: var(--bouton-couleur-font);
   
}

.boutons:hover{
    background-color: var(--bouton-couleur-fond-hover);
}

.boutons:active{
    background-color: var(--bouton-couleur-fond-active);
}

/* Titre accueil */
.titreLogo{
    font-family: var(--titre-accueil-font);
    font-weight: 400;
    font-style: normal;
    font-size: clamp(5rem, 9vw, 10rem);
    color: var(--titre-accueil-couleur);
    text-align: center;
}

/* Header */
header{
    background-color: var(--header-couleur-fond);
}

header nav{
    font-family: var(--header-nav-font);
    font-size: 1rem;
    /* background-color: var(--header-nav-couleur-fond); */
    border-color: var(--header-nav-couleur-border);
    
}


header nav a{
    
    color: var(--texte-couleur-secondaire);
    text-decoration: none;
    
}

@media screen and (max-width: 720px) {
    header nav a{
        color: var(--texte-couleur);
    }
}

.recherche{
    font-family: var(--header-recherche-font);
    color: var(--texte-couleur-principal);
    background-color: var(--header-recherche-couleur-fond);
    border-color: var(--header-recherche-couleur-border);
}

/* Main */
main{
    background-color: var(--main-couleur-fond);
}

main h2{
    font-family: var(--main-sousTitre-font);
    font-size: 2rem;
    color: var(--texte-couleur-principal);
}

main p{
    font-family: var(--main-paragraphe-font);
    font-size: 1rem;
    color: var(--texte-couleur-principal);
}

/* Footer */
footer{
    background-color: var(--footer-couleur-fond);
}

footer nav{
    font-family: var(--footer-nav-font);
    font-size: 1rem;
    color: var(--texte-couleur-secondaire);
}