/* Polices */
:root{
    --titre-font: "Monoton", sans-serif;
    --sousTitre-font: "Rowdies", sans-serif;
    --paragraphe-font:  "Poppins", sans-serif;
}


/* Couleurs */
:root{
    --header-couleur:#0D0106;
    --footer-couleur: #0D0106;
    --bouton-couleur: #0D0106;
    --texte-couleurPrincipal:#0D0106;
    --boutonSelectionner-couleur: #3626A7;
    --section-couleurPrincipal: #3626A7;
    --background-couleurPrincipal: #FBFBFF;
    --carte-couleurPrincipal: #FBFBFF;
    --texte-couleurSecondaire: #FBFBFF;
    --background-couleurSecondaire: #657ED4;
    --boutonHover-couleur: #657ED4;
    --carte-couleurSecondaire: #657ED4;  
    --titre-couleur: #FF331F;
    --section-couleurSecondaire: #FF331F;

}










h1{
    font-family: var(--titre-font);
    font-weight: 400;
    font-style: normal;
    font-size: 20rem;
}

h2{
    font-family: var(--sousTitre-font);
    font-size: 2rem;
}

p{
    font-family: var(--paragraphe-font);
    font-size: 1rem;
}